@import 'assets/main.scss';

.timeline-list {
  &__item {
    @extend .flex-column;
    min-width: 100%;
    margin-top: 24px;
    background-color: $light-text;
    padding: 24px 48px;
    border-radius: 6px;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }

    &__column {
      @include media-breakpoint-down(lg) {
        width: 100% !important;
        margin-bottom: 20px;
      }
      display: flex;
    }

    &__receipt {
      @extend .hover;
      color: $highlight-text;
      font-size: $font-size-sm;
      align-self: center;

      & > span {
        margin-left: 10px;
      }
    }

    &__notes {
      font-weight: 300;
      font-size: $font-size-sm;
      color: $primary-text;
    }

    &--expense {
      color: $info-text;
      background-color: $info-bg;
    }

    &--account {
      color: $success-text;
      background-color: $success-bg;
    }

    &--evaluation {
      color: $pending-text;
      background-color: $pending-bg;
    }
  }
}