@import 'assets/main.scss';

.breadcrumb {
  &__wrapper {
    @extend .flex-row;

    span {
      @extend .flex-row;
      
      margin-right: 8px;
      width: fit-content;
      color: $highlight-text;
      
      p {
        @extend .hover;
        white-space: nowrap;
      }
  
      &::after {
        content: '/';
        color: $primary-text;
        margin-left: 8px;
      }

      &:last-child {
        color: $primary-text;
        &::after {
          content: ''
        }
      }
    }
  }
}