@import 'assets/main.scss';

.indicator {
  &__wrapper {
    @extend .flex-row;
    width: fit-content;
    justify-content: center;
    align-items: center;
  }

  &__inner {
    @extend .flex-column;
    width: 100%;

    & > span {
      font-size: $font-size-xs;
      color: $secondary-text;
    }

    & > p {
      font-size: $font-size-sm;
    }
  }

  &__arrow {
    @extend .flex-center;

    font-size: $font-size-xs;
    color: $secondary-text;
    min-width: 26px;
    max-width: 26px;
    height: 26px;
    border: 1px solid $secondary-text;
    border-radius: 50%;
    margin-right: 10px;
  }
}