@import 'assets/main.scss';

.labeled {
  &__wrapper {
    @extend .flex-column;
    width: fit-content;

    &__labeled {
      font-size: $font-size-xs;
      color: $secondary-text;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  &__children {
    @extend .flex-column;
    font-size: $font-size-lg;
    font-weight: 700;
  }
}