@import 'assets/main.scss';

.file-uploader {
  &__wrapper {
    @extend .flex-column;
    border: 1px dashed $secondary-text;
    padding: 44px 23px;
    min-height: 200px;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
    }

    &--filled {
      justify-content: flex-start;
    }

    input[type='file'] {
      display: none
    }

    span {
      color: $error-text;
      font-size: $font-size-xs;
      text-align: center;
      margin-top: 6px;
    }
  }

  &__button {
    border-color: $secondary-text;
    padding: 12px 24px;
  }
}