@import 'assets/main.scss';

.right-sidebar {
  &__wrapper {
    @extend .flex-column;

    background-color: $light-text;
    min-width: 393px;
    max-width: 393px;
    padding: 40px 22px;
    min-height: calc(100vh - #{$header_height});
    margin-left: 56px;
  }

  &__loading {
    @extend .right-sidebar__wrapper;
    @extend .flex-center;
  }

  &__items {
    @extend .flex-column;
  }
}