@import 'assets/main.scss';

.add-expense {
  &__wrapper {
    background-color: $secondary-background;
    padding: 24px 48px;
    border-radius: 6px;
    margin-top: 20px;
  }

  &__buttons {
    @extend .flex-row;
    justify-content: flex-end;

    & > button {
      &:first-child {
        margin-right: 10px;
      }
    }
  }

  &__form {
    @extend .flex-column;
    margin-top: 10px;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }

    &__file {
      background-color: $light-text;
      width: 100%;
      padding: 20px;

      @include media-breakpoint-up(lg) {
        width: 50%;
        padding: 52px 92px;
      }

      & > p {
        margin-bottom: 10px;
        font-weight: 700;
      }

      & > span {
        font-size: $font-size-xs;
        margin-top: 10px;
      }
    }

    &__fields {
      @extend .flex-column;
      width: 100%;
      margin-top: 30px;

      @include media-breakpoint-up(lg) {
        width: 50%;
        margin-left: 46px;
        margin-top: 0px;
      }

      &__half {
        @extend .flex-row;
        div {
          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }
  }
}