@import 'assets/main.scss';

.sidebar {
  &__wrapper {
    @extend .flex-column;
    background-color: $primary;
    min-height: calc(100vh - #{$header-height});
    width: $sidebar-width;
    display: none;

    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }
}