$primary: #053d4e;

$background: #f4f6fa;

$success-bg: #e6fff0; 
$success-text: #03a046;

$error-bg: #fbeaea; 
$error-text: #d6342c; 

$info-bg: #e7f2fd;
$info-text: #0f68bd;

$pending-bg: #f0f3f7;
$pending-text: $primary;

$primary-text: #545b64;
$secondary-text: #d0d3d6;
$highlight-text: #51c1c3;
$light-text: #ffffff;

$primary-gradient-start: #00d7ce;
$primary-gradient-end: #00c5fc;




