$header-height: 48px;
$sidebar-width: 120px;

$layout-max-width: 1640px;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;

$grid-breakpoints: (
  xxs: 0,
  xs: 540px,
  sm: 720px,
  md: 960px,
  lg: 1140px,
  xl: 1330px,
);


