@import 'assets/main.scss';

.authenticated {
  &__wrapper {
    @extend .flex-column;

    &__inner {
      @extend .flex-row;
      background-color: $background;
    }

    &__content {
      padding: 12px 27px;
      width: 100%;
    }
  }
}