@import 'assets/main.scss';

.authenticated {
  &__wrapper {
    @extend .flex-column;

    &__inner {
      @extend .flex-row;
      background-color: $background;
      min-height: calc(100vh - #{$header-height});
    }

    &__content {
      padding: 12px 27px;
      width: 100%;
      display: flex;
      justify-content: center;

      > div {
        width: 100%;
        max-width: $layout-max-width;
      }
    }
  }
}